var option_self = {
    tooltip : {
        trigger: 'axis'
    },
        legend: {
           orient: 'horizontal',
           x: 'right',
           y: 'top',
           backgroundColor: '#eee',
           borderColor: 'rgba(178,34,34,0.8)',
           borderWidth: 4,
           padding: 10,
           itemGap: 20,
           textStyle: {color: 'red'},
           selected: {
               ===selected===
           },
             data:[===legend===]
        },
    toolbox: {
        orient: 'horizontal',
            x: 'right',
            y: 'bottom',
        show : true,
        feature : {
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            data : [===xdata===]
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        ===ydata===
    ]
};
